<h1>Listing projects</h1>
<form name="filter" action="" style="display:inline" >
  <label for="filter">Filter by Name or Description: </label>
  <%= text_field_tag "query", params['query'] %>
  <label for="status">Filter by Status:</label>
  <%= select_tag('sortstatus', options_for_select([ "Show All", "Ready", "Applying", "Suspended", "Pending"] , params[:sortstatus])) %>
  <%= submit_tag 'Search' %>
</form>
<% form_tag ({:action => :csv, :selection=>params[:query], :status=>@statusorder, :sortorder=>@direction, :sortcolumn=>@sort}, :style=> "display:inline" ) do -%>
  <%= submit_tag 'Export to CSV' -%>
<% end -%>
<% project_columns = ["status","name","summary","description","creator","statusreason","contactinfo","created_at","updated_at",] -%>
<%= paginate = will_paginate @projects %>
<table id="customers">
  <tr>
    <th></th>
    <th></th>
    <% for column in project_columns -%>
      <th>
        <%= link_to (t "Project.#{column}"), :query =>@query, :sortstatus=>params[:sortstatus],  :sortorder=>@direction, :sortcolumn=>(column) %>
      </th>
    <% end -%>
  </tr>
  <% for project in @projects -%>
    <tr class="<%= cycle('even','alt') -%>" >
      <td><%= link_to _('Edit'), edit_project_path( :id => project), :target => '_blank' -%></td>
      <td>
        <%= link_to _('Change status'), change_status_form_site_admin_project_path( :id => project.id), :target => '_blank' -%>
      </td>
      <% for column in project_columns -%>
        <td style="<%= "white-space:nowrap;" if column == "license"%>">
          <%if column == 'creator' -%>
            <a href="<%= "#{ root_path }user/home/#{ project.send(column) }" %>"><%="#{User.find(project.send(column)).login}(#{User.find(project.send(column)).email})"%></a>
          <%elsif ['summary', 'description', 'statusreason', 'vcsdescription'].include?(column) -%>
            <% if not project.send(column).nil? -%>
            <span title="<%=h project.send(column)%>"><%=h project.send(column).mb_chars[0..30]%></span>
            <% end -%>
          <%elsif column == 'status' -%>
            <% case project.status
                when Project::STATUS[:APPLYING] 
               -%><span style="color:red"><%
                when Project::STATUS[:PENDING] 
               -%><span style="color:orange"><%
                when Project::STATUS[:REJECTED] 
               -%><span style="color:green"><%
                when Project::STATUS[:SUSPENDED] 
               -%><span style="color:blue"><%
            end -%> 
            <%= "#{Project.status_to_s(project.status)}" %>
          </span>
          <%elsif column == 'name' -%>
            <%= link_to project.send(column), project_path( :id => project), :target => '_blank' %>
          <%elsif column == 'license' -%>
            <%= "#{Project.licenses_to_s(project.license).join('<br/>')}" %>
          <%elsif column == 'contentlicense' -%>
            <%= "#{Project.content_licenses_to_s(project.contentlicense)}" %>
          <%elsif column == 'vcs' -%>
            <%= "#{Project.vcs_to_s(project.vcs)}" %>
          <%elsif column == 'created_at' -%>
            <%= "#{(project.created_at).strftime("%Y-%m-%d %H:%M:%S")}" %>
          <%elsif column == 'updated_at' -%>
            <%= "#{(project.updated_at).strftime("%Y-%m-%d %H:%M:%S")}" %>
          <%else -%>
            <%=h project.send(column) %>
          <%end -%>
        </td>
      <% end -%>
  
    </tr>
  
  <% end -%>
</table>

<%= paginate -%>
<br />

<%= link_to 'New project', :action => 'new' -%>
