<% showDescr == showDescr || true -%> 
<% module_title = capture do -%>
  <%= link_to(image_tag('atom.png', :alt => 'atom', :width => '20px', :style => 'padding:8px;float:right'),
              rss_path(:format => :rss, :cont => 'site_news')) %>
  <%=_('Announcements')%>
<% end -%>

<% module_content = capture do -%>
<%i=1 %>
<ul>
  <% for news in newsList -%>
    <li>
    <%= if news.created_at > 7.days.ago then image_tag('hot.png') end %>
    <%= link_to news.subject, 
        site_news1_path(:id => news.id), :class => "news_subject" %>
    <%= news.created_at.strftime "%Y-%m-%d" %>
    </li>
    <% if showDescr == true -%>
      <% if i==1 -%>
        <p><%=h(news.description.mb_chars[0..270].gsub(/<[^>]*>/,' ')) %>...&nbsp;<%=link_to( _('Detail'), :controller => "news", :action => "show", :id => news.id ) %></p>     
      <% end -%>
    <% end -%>
    <%i=i+1%>
  <% end -%>
</ul>
<%=link_to( _('More...'), site_news_path, :class => "more" )%>
<%= auto_discovery_link_tag(:rss,
                            rss_path(:format => :rss, :cont => 'site_news'),
                            {:title => s_("Feed|#{_('OpenFoundry News')} RSS Feed")}) %>
<%= auto_discovery_link_tag(:atom,
                            rss_path(:format => :atom, :cont => 'site_news'),
                            {:title => s_("Feed|#{_('OpenFoundry News')} ATOM Feed")}) %>
<% end -%>

<%= render :file => 'layouts/rt_module', :locals => {:module_title => module_title, :module_content => module_content, :variation => 'square1'} %>
