<% module_title = capture do -%>
  <%=link_to( image_tag('atom.png', 
       {:alt => 'atom', :width => '20px', :style => 'padding:8px;float:right'}),
       {:controller => :rss, :format => :rss, :cont => 'project_news'} )%>
  <%=_('Project News')%>
<% end -%>

<% module_content = capture do -%>
<ul>
  <%for news in newsList -%>
  <li>
    <%= link_to( 
	h(news.project.summary + ' - ' + news.subject), 
	news1_path(:id => news.id, :project_id => news.catid) )%>
    <%= news.updated_at.strftime "%Y-%m-%d" %>
  </li>
  <%end -%>
</ul>
<%=link_to _('More...'), project_news_path(), :class => "more" %>
<%=auto_discovery_link_tag(:rss,
   {:controller => :rss, :format => :rss, :cont => 'project_news'},
   {:title => s_("Feed|#{ _( 'Project News' ) } RSS Feed") } ) %>
<%=auto_discovery_link_tag(:atom,
   {:controller => :rss, :format => :atom, :cont => 'project_news'},
   {:title => s_("Feed|#{ _( 'Project News' ) } ATOM Feed") } ) %>
<% end -%>

<%= render :file => 'layouts/rt_module', :locals => {:module_title => module_title, :module_content => module_content, :variation => 'square1'}  %>
