<form id="actionform" action="" method="POST">
  <input type="hidden" id="tag_old_name" name="tag_old_name" value="">
  <table>
    <tr>
      <td>Name:</td>
      <td colspan="2"><%=text_field_tag 'tag_new_name', '' %></td>
    </tr>

    <tr id="tag_type_row">
      <td>Type:</td>
      <td><%=radio_button_tag 'tag_type', '1', true %>Category</td>
      <td><%=radio_button_tag 'tag_type', '0', false %>Tag</td>
    </tr>

    <tr id="tag_stat_row">
      <td>Status:</td>
      <td><%=radio_button_tag 'tag_status', '0', false %>Disabled</td>
      <td><%=radio_button_tag 'tag_status', '1', true %>Enabled </td>
    </tr>

    <tr>
      <td colspan="3">
        <%=submit_tag 'Save' %>
        <%=submit_tag 'Clear', { :id => 'clrbtn', :type => 'reset' } %>
      </td>
    </tr>
  </table>
</form>
