<% if files %>
<ul>
  <% files.each do |f| %>
    <li><%= f.path %></li>
  <% end %>
</ul>
<%end%>

<label><%= s_('survey|Say something to end-users:')%></label>
<textarea class="SurveyPrompt" style="width:250px;height:50px"><%=prompt%></textarea>
<dl>
  <% Survey::ITEMS.each_with_index do |item, i| %>
    <dt><%=s_("survey|#{item}")%></dt>
    <dd> 
    <% case resource[i] 
     when 48,49,50; 
     else masked = true 
     end %>
    <% Survey::ITEM_STATUS.each_with_index do |status, j|%>
      <% checked =( (resource[i]) == j+48)? 'checked':'' unless masked%>
      <% if masked %>
        <span class="SurveyItemMasked">
      <% end %>
      <input class="SurveyItem" type="radio" name="<%=i%>" value="<%=j%>" <%=checked%>> 
      <% if masked %>
        </span>
      <% end %>
      <%= s_("survey|#{status}") %>  
    <%end%>
  <%end%>
</dl>
