<% content_for :head_content do -%>
  <title><%= @module_name || controller.action_name %> 
         <%= (@project ? '- '+(@project.name||'') : '') %>
         - OpenFoundry
         <%= " __#{$$}__" if current_user.has_role?('site_admin')%></title>
  <% if @project %>
    <meta name="title" content="<%= @project.summary %> - <%= @project.name %> - OpenFoundry" />
    <meta name="description" content="<%= @project.description %>"/>
    <meta name="og:image" content="<%= cached_image_images_url(:id => @project.icon) %>" />
  <% else %>
    <meta name="title" content="Projects - OpenFoundry" />
    <meta name="author" content="ossf"/>
    <meta name="description" content="OpenFoundry provides essential tools and services through its service platform for users to develop Open Source Software Projects, the operating funds comes from the National Science Council and the Research Center for Information Technology Innovation of Academia Sinica Taiwan." /> 
  <% end %>
  <%= stylesheet_link_tag "scaffold", "openfoundry", "calendar", :cache => '_all' %>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js" %>
  <%= javascript_include_tag "prototype", "effects", "application", "rails", "langsync", "qrcode", :cache => '_all' %>
  <%= javascript_include_tag "calendar/calendar", "calendar/lang/calendar-en", "calendar/calendar-setup", :cache => '_calendar' %>
  <%= javascript_include_tag "http://www.apture.com/js/apture.js?siteToken=PnRZMif", :defer => 'defer' %>
  <%= csrf_meta_tag %>
  <% if request.user_agent =~ /(msie 2|msie 3|msie 4|msie 5)/i %>
   <script>alert('Please use Internet Explorer 6 or above.');</script>
  <% end %>
  <script type="text/javascript">
    window.OF = function(){};
    OF.root_path = '<%= root_path%>';
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-5220412-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
<% end -%>

<% content_for :header_content do -%>
  <div id="header-toolbar">
    <div id="Login">
    <%= render :partial => 'partials/login' %>
    &nbsp;|&nbsp;
    <%= render :partial => 'partials/lang'%>
    </div>
  </div>
<% end -%>

<% content_for :breadcrumbs_content do %>
  <%=raw breadcrumbs(@module_name) %>
<% end %>

<% content_for :body_content do -%>
<div id="of-body">
  <div id="MiddlePane">
    <div class="rt-grid-12">
      <% if @project.try(:persisted?) && !controller.action_name['change_status_form'] %>
       <div class="pj_logo" >
          <a href="<%= project_path(@project) %>">
            <img src="<%= cached_image_images_path(:id => @project.icon) %>" style="vertical-align: middle;" width=48 />
	  </a>
       </div>
       <div style="width: 860px; float: right; word-wrap: break-word; word-break: break-all;">
         <div class="project-links">
           <% if false # Ally said to disable AddThis at 2/9 9:28 %>
             <% @use_add_this = true %>
             <!-- AddThis Button BEGIN -->
             <div class="addthis_toolbox addthis_default_style ">
               <a class="addthis_counter addthis_pill_style"></a>
             </div>
             <script type="text/javascript">var addthis_config = {"data_track_clickback":true};</script>
             <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#username=openfoundry"></script>
             <!-- AddThis Button END -->
           <% end %>
         </div>
          <h3>
            <a href="<%= project_path(@project) %>">
            <%= h(@project.name) %>
          </a>
          <span class="maturity">
            <%= t(Project.maturity_to_s(@project.maturity)) %>
          </span>
          </h3>
          <h6>
            <%= truncate(h(@project.summary), :length => 50) %>
          </h6>
        <%if current_user.has_role?('Admin',Project.find_by_id(params["project_id"]))%>
          <%= image_tag "green_arrow_right.gif" %>
          <a href="#" onclick="Effect.toggle('UploadImage','appear'); return false"><%=_('Change Icon')%></a>
        <%end%>
          <%= render :partial => 'images/edit', :locals =>
	  {:image_id => @project.icon, :id => @project.id, :type => 'Project', :back_to => project_path(@project) } %>
       </div>
      <%end%>
    </div>
    <% string = request.path -%>
    <% match = !string.match(/site_admin/).nil?-%>
    <% if match == true || ( controller.controller_name == 'openfoundry' && controller.action_name == 'search' ) -%> 
      <div id="MainContent" class="rt-grid-12">
    <% else -%> 
      <div id="MainContent" class="rt-grid-9 rt-push-3">
    <% end -%>    
        <div id="Flash"><%= raw show_flash %></div>
        <%= content_for?(:module) ? yield(:module) : yield %>
      </div>
    <% if match == true -%> 
        <div id="LeftWidget" style="display:none;">
    <% else -%> 
        <div id="LeftWidget" class="rt-grid-3 rt-pull-9">
    <% end -%> 
    	<% if @project.try(:persisted?) # Ensure there is a project entity and it is persisted %>
          <%=render :partial => "news/news_list", :locals => {:project => @project}%>
          <%#=render :partial => "partials/project_logo", :locals => {:project => @project}%>
        <div id="LeftMenu">
		<%=render :partial => "partials/project_menu", :locals => {:project => @project}%>
		<%=render :partial => "partials/qrcode_project", :locals => {:project => @project}%>
        </div>
      <%elsif controller.controller_name == "user"%>
          <%=render :partial => "partials/dashboard_menu", :locals => {:project => @project}%>
      <%elsif controller.controller_name == "help"%>
        <%=render :partial => "partials/help_menu"%>
      <%else%>
        <%=render :partial => "partials/homeleft" unless ( controller.controller_name == 'openfoundry' && controller.action_name == 'search' ) || ( controller.controller_name == 'site_admin' && controller.action_name == 'manage_tags' )  %><%#TODO CodeReview! (2011/01/13)%>
      <%end%>
    </div>
  </div>
  <br clear="all" />
</div>
<% end -%>
<%= render :file => 'layouts/integration' %> 
