<div id="editrelease_view">
  <table class=ReleaseShow >
    <tr><th> <%= Release.columns_hash['version'].human_name  -%> : </th>
      <td> <%= h(@release.version) %> </td>
    </tr>
    <tr><th> <%= Release.columns_hash['due'].human_name  -%> : </th>

      <td> <%= h(@release.due) %> </td>
    </tr>
    <tr><th> <%= Release.columns_hash['status'].human_name  -%> : </th>
      <td> <%= h(Release.status_to_s(@release.status)) %> </td>
    </tr>
  </table>
  <%= link_to_remote _('[Edit]'), :url => editrelease_project_release_path(@project, @release),
                                  :update => "editrelease_view" %>
  <%= link_to _('[Delete]'), delete_project_release_path(@project, @release), :confirm => 'Delete?',
                                                                              :method => :post %>
  <%= link_to _('[Add release news]'), new_releases_project_release_path(@project, @release) %>
</div>
