<div id="search_result">
  <% module_content = capture do -%>
    <div id="search">
      <div class="module-title">
        <h2 class="title"><%= _('Projects')%><%= _('search') %></h2>
        <%= render :partial => 'partials/search', :locals =>{:size => 45, :adv => true}%>	
      </div>
    </div>

  <% end -%>
  <%= render :file => 'layouts/rt_module', :locals => {:module_content => module_content, :variation => 'square1'} %>
  <% module_content = capture do -%>
  <%unless @results.empty?%>
    <%if params[:chk] %>
      <%= paginate = will_paginate @results %>
      <table class='form-table'>
        <% @results.each do |record| %>
          <tr>
            <%= render(:partial => "#{@lookup[record.class.class_name]}/search_hit", :layout => false, :locals => {:record => record}) %>
          </tr>
        <% end %>
      </table>
      <%= paginate %>
    <% else -%>
      <%unless @filter_blank_or_not.blank? or @keyword.blank? %>
        <%= "About #{ts(if @results.class == Array then @results.count else @results.total_hits end)} projects (#{@elapsed_seconds.to_s} seconds.)"%>
        <%= paginate = will_paginate @final_project_list %>  
        <table class='ProjectList'>
          <tr>
            <th width='5%'>Logo</th>
            <th width='20%'>Name</th>
            <th width='45%'>Summary</th>
            <th width='15%'>Catgory</th>
            <th width='15%'>Tags</th>
          </tr>
          <% if @keyword.include?('tag:') then @keyword = @keyword.split(/:/)[1].split(' ') else @keyword = @keyword.split(' ') end -%>
          <% highlight_keyword = @keyword -%>
          <% i = 0; class_name = ''; -%> 
          <% for project in @final_project_list -%> 
            <% i = 1 - i -%> 
            <% if i == 1; class_name = 'odd'; else; class_name = 'even'; end; -%> 
              <tr class="item_h <%=class_name %>">
                <td><%= raw project_logo_link(project) %></td>
                <td class='pj_name'><a href = "<%=url_for( :controller => 'projects', :action => 'show', :id => project.id ) %>"><%=h( project.name ) %></a></td>
                <td><%=highlight(h( project.summary ), highlight_keyword ) %></td>
                <td><%=highlight(h( project.cattag.name ), highlight_keyword ) unless project.cattag.nil? %></td>
                <td><%=highlight(h( project.alltags.map(&:name).join(", ") ), highlight_keyword ) unless project.alltags.nil? %></td>
              </tr>
            <% end %>
          </table>
          <%= paginate %>
        <% else -%>
          <%= _('Please input some keyword')%>
        <% end -%>
      <% end -%>
    <%else-%>
      <%= _('No record')%>
    <%end-%>
  <% end -%>
  <%= render :file => 'layouts/rt_module', :locals => {:module_content => module_content, :variation => 'square1'} %>
</div>
  <% module_content = capture do -%>
      <%= render :partial => 'partials/tagcloud'%>	
  <% end -%>
  <%= render :file => 'layouts/rt_module', :locals => {:module_content => module_content, :variation => 'square1'} %>

