<% module_title = capture do -%>
  <%=link_to( image_tag('atom.png', 
         {:alt => 'atom', :width => '20px', :style => 'padding:8px;float:right'}),
         {:controller => :releases, :action => :top_download_feed, :format => :xml} ) %>
  <%= image_tag "of/icon02.gif", :align => "left" %>
  <%=_('Top Download')%>
<% end -%>

<% module_content = capture do -%>
<ul>
  <%for download in downloadList %>
    <li>
      <%= link_to( 
	h(download.project.summary), 
	download1_path(:project_id => download.project_id) 
	) %>
    </li>
  <%end %>
</ul>
<%= link_to( _("More..."), {:controller => 'releases', :action => 'top'}, :class => "more" ) %>
<%=auto_discovery_link_tag(:rss, 
   {:format => :rss, :controller => :releases, :action => "top_download_feed"},
   {:title => s_("Feed|%{name} %{type} Feed") % {:name => _('Top Download'), :type => 'RSS'} }) %>
<%=auto_discovery_link_tag(:atom, 
   {:format => :xml, :controller => :releases, :action => "top_download_feed"},
   {:title => s_("Feed|%{name} %{type} Feed") % {:name => _('Top Download'), :type => 'ATOM'} }) %>
<% end -%>

<%= render :file => 'layouts/rt_module', :locals => {:module_title => module_title, :module_content => module_content, :variation => 'square1'} %>
