<% module_title = capture do -%>
<%#= _('Projects Menu') %>
<% end -%>

<% module_content = capture do -%>
<ul class="menu">
  <% if current_user.login != 'guest' -%>
    <li><%= link_to _('Create Project'), new_project_path() %></li>
    <li><%= link_to _('Dashboard'), dashboard_user_path %></li>
  <% end -%>
  <li><%= link_to _('menu_Project Listing'), projects_path %></li>
  <li><%= link_to _('menu_Project Category'), category_index_path  %></li>
  <li><%= link_to _('menu_Project News'), project_news_path() %></li>
  <li><%= link_to _('menu_Latest Releases'), latest_releases_path %></li>
  <li><%= link_to _('menu_Top Downloads'), top_releases_path %></li>
  <li><%= link_to _('menu_Help Wanted'), "#{ root_path }jobs" %> </li>
  <li><%= link_to _('menu_WebHosting'), "/tw/help/2356-openfoundry-web-hosting" %></li>
  <li class="parent active"><a href='#' onClick="Effect.toggle('bsc_menu0', 'blind', {duration: 0.3}); return false"><%= _('Help') %></a>
  <div id="bsc_menu0" style="display:none">
  <ul>
    <li><%= link_to 'OpenFoundry', '/help/how-to-start' %></li>
    <!--<li><%#= link_to _('NSC Project'), '/help/nsc-project' %></li>-->
    <li><%= link_to _('menu_License Wizard'), '/help/license-wizard' %></li>
    <li><%= link_to _('Forum'), '/help/openfoundry-forum' %></li>
  </ul>
  </div>
  </li>
</ul>
<% end -%>

<%= render :file => 'layouts/rt_module', :locals => {:module_title => module_title, :module_content => module_content, :variation => ''} %>
