<p align="Left">
  <%= render :partial => "main_links"%>
</p>
<p align="center">
  <%=t'rit_table_assign_has_asign', :tcount => @rit.count %>
</p>

<table border="1" width="100%" class="ritlist-table">
  <tr>
    <td>
      &nbsp;
    </td>
    <td>
      <%=_('rit_table_subject')%>(<%=_('rit_table_recount')%>)
    </td>
    <td>
      <%=_('rit_table_date')%>
    </td>
    <td>
      <%=_('rit_table_lastchange')%>
    </td>
    <td>
      <%=_('rit_table_assignto')%>
    </td>
    <td>
      <%=_('rit_table_status')%>
    </td>
  </tr>
  <%for rit in @rit%> 
  <tr bgcolor="<%=ticket_status_color(rit.status)%>" style="TEXT-DECORATION:<%=ticket_status_delete_line(rit.status)%>">
    <td>
        <%=link_to '#'+ rit.id.to_s, project_rit_path(:id => rit) %><br />
        <%=ticket_priority_icon(rit.priority)%>
    </td>
    <td>
        <%=ticket_priority_urgent_hight(rit.priority)%>
        <%=link_to rit.title, project_rit_path(:id => rit) %><br />
        <%=rit.uname%>
    </td>
    <td>
      <%=rit.created_at.strftime("%Y-%m-%d")%><br />
      <%=time_ago_in_words(rit.created_at)%>
    </td>
    <td>
      <%=rit.rdate && rit.rdate.to_datetime.strftime("%Y-%m-%d")%><br />
      <%=rit.rdate && time_ago_in_words(rit.rdate.to_datetime)%>
    </td>
    <td>
        <% if rit.firstAssign.nil? %>
	        <%=image_tag("rit_question_24.png", :height => '16', :align => 'middle')%>&nbsp;
	        <%=content_tag(:font ,'NoBody', :color => "#BBBBBB")%>
	      <% else %>
          <%=image_tag("rit_right_24.png", :height => '16', :align => 'middle')%>&nbsp;
          <%=rit.firstAssign%><br /><%=t'rit_table_assignings', :acount => rit.assignNums  %>
        <% end %>
    </td>
    <td>
      <%=ticket_status_icon(rit.status)%>
    </td>
  </tr>
  <%end%>
</table>
<p>
  <%= will_paginate @rit %>
</p>
