<p align="Left">
  <%= render :partial => "main_links"%>  | <%= link_to 'Old IssueTracker', project_rt_index_path(@project) %>
</p>
<p align="right">
  <%=t('rit_link_ticket_types')%> : <%= render :partial => 'tickettypes', :locals => {:types => @types} %>
</p>
<p>Click a name to login : 
<% @pjMeb.each do |g|%>
  <a href="rit?login=<%=g.id%>"><%=g.login%></a>,&nbsp;
<% end%>
  <a href="rit?login=logout">logout</a>
<form>
  <%=_('rit_form_key_search')%>:<%=text_field_tag 'k'%><%= submit_tag _('submit') %>
</form>
<%if !@k.empty?%>
  <p align="center"><%=t 'rit_keyword_search',:kword => @k,:kcount => @knums %> ,<%=link_to _('rit_link_view_all'),project_rit_index_path()%></p>
<%end%>
<table class="ritlist-table" width="100%">
  <tr>
    <td>
      &nbsp;
    </td>
    <td>
      <%=_('rit_table_subject')%>(<%=_('rit_table_recount')%>)
    </td>
    <td>
      <%=link_to _('rit_table_date')+@shortMarkA,project_rit_index_path()+@orderLinkA%>
    </td>
    <td>
      <%=link_to _('rit_table_lastchange')+@shortMarkB,project_rit_index_path()+@orderLinkB%>
    </td>
    <td>
      <%=_('rit_table_assignto')%>
    </td>
    <td>
      <%=link_to _('rit_table_status')+@shortMarkC,project_rit_index_path()+@orderLinkC%>
    </td>
  </tr>
  <%for rit in @rit%>
  <tr bgcolor="<%=ticket_status_color(rit.status)%>" style="TEXT-DECORATION:<%=ticket_status_delete_line(rit.status)%>">
    <td>
      <%=link_to '#'+ rit.id.to_s, project_rit_path(:id => rit) %><br />
      <%=ticket_priority_icon(rit.priority)%>
    </td>
    <td>
        <%=ticket_priority_urgent_hight(rit.priority)%>
        <%=link_to rit.title, project_rit_path(:id => rit) %><br />
        <%=rit.uname%>
    </td>
    <td>
        <%=rit.created_at.strftime("%Y-%m-%d")%><br />
        <%=time_ago_in_words(rit.created_at)%>
    </td>
    <td>
        <%=rit.rdate && rit.rdate.to_datetime.strftime("%Y-%m-%d")%><br />
        <%=rit.rdate && time_ago_in_words(rit.rdate.to_datetime)%>
    </td>
    <td>
      <%=ticket_assign_short_info(rit.id,rit.firstAssign)%>
    </td>
    <td>
      <%=ticket_status_icon(rit.status)%>
    </td>
  </tr>
  <%end%>
</table>
<p>
  <%= will_paginate @rit %>
</p>
