<p align="Left">
<%= render :partial => "main_links"%>
</p>
<p align="right"><%=_('rit_table_priority_string')%>
  <%=ticket_priority_text(@rit.priority)%>
</p>
<h1>#<%=@rit.id%>  <%=@rit.title%></h1>
<table border="1" width="100%" class="list-table">
<tr>
   <td>
      <%= render :partial => 'ticket_show_info' ,:locals =>{:creator=>@uName ,:rit=>@rit ,:owners=>@assUsers} %>
  </td>
</tr>
<tr>
   <td>
    <p>
      <%=ticket_content(@rit.content) %>
    </p>
    <p align="right">
      <%=_('rit_table_atta')%> :
      <%= render :partial => 'attachments', :collection => @attach, :as => :attach %>
    </p>
    <p align="right">
      <%= render :partial => 'contentinfo' ,:locals =>{:info=>@rit ,:major => 'a'} %>
    </p>
  </td>
</tr>
</table>

<p align="center">
 <b>
  <%=_('rit_table_replies')%>
 </b>
</p>
<% i=0 %>
<%for replay in @ritreplies %>
  <% i+=1%>
  <table border="1" class="list-table" bgcolor="<%=cycle("#EEEEEE","#FFFFFF")%>" >
    <tr>
      <td>
        <%=i%>
        <%if replay.replytype == 0 %>
          <p>
            <%=_('rit_table_replier')%> : <%=replay.login%>
            <%=ticket_guest_mail_mask(replay.login,replay.guestmail)%>
         </p>
        <%else%>
          <p>
            <b>
              [<%=content_tag(:font ,"Log" , :color => "red")%>] 
              <%=t 'rit_table_change_log' , :ttime => replay.created_at ,:twho => replay.login ,:tabout => time_ago_in_words(replay.created_at)%>
            </b>
          </p>
        <%end%>
        <p>
          <%=ticket_content(replay.content) %>
        </p>
        <%if replay.replytype == 0 %>
          <p align="right">
            <%=_('rit_table_atta')%>:
            <%@reattach = Ritfile.where(:ritFK => replay.id , :fromReply => 1).all  %>
            <%= render :partial => 'attachments', :collection => @reattach, :as => :attach %>
          </p>
          <p align="right">
            <%= render :partial => 'contentinfo' ,:locals =>{:info=>replay ,:major => 'b'} %>
          </p>
        <%end%>
      </td>
    </tr>
  </table>
<%end%>
<p align="center">
  <%=content_tag :b ,t('rit_form_repliestitle')%>
  <a name="quoteme">&nbsp;</a>
</p>
<% form_for :ritreply, :url => reply_project_rit_index_path, :html=>{:multipart => true}  do |f| %>
  <table border="1" class="list-table">
    <tr>
      <td><%=_('rit_form_replier')%> : </td>
      <td><%=@rName.login%><%=f.hidden_field :user_id , :value =>@userID %></td>
    </tr>
       <%if current_user.login=="guest"%>
        <tr>
          <td><%=_('rit_form_email')%> : </td>
          <td><%=f.text_field :guestmail, :value =>cookies[:guestmail]  %></td>
        </tr>
      <%else%>
        <%=f.hidden_field :guestmail, :value => "rit@openfoundry.org" %>
      <%end%>
    <tr>
     <td><%=_('rit_form_replicontent')%> : </td>
     <td><%=f.text_area :content ,:value =>@rwq%></td>
    </tr>
    <tr>
      <td><%=_('rit_form_fileattach')%> : </td>
      <td><%=render :partial => "fileupload_form" %>
        <%=t('rit_form_file_send_limitnote' ,:ufmax => number_to_human_size(RIT_MAX_UPLOAD_FILE_SIZE)) %></td>
    </tr>
  </table>
   <% if current_user.login == 'guest' %>
    <%= recaptcha_tags %>
  <% end %>
  <%=f.hidden_field :title ,:value =>"RE:" + @rit.title %>
  <%=f.hidden_field :rit_fk_id ,:value =>@rit.id %>
  <%=f.hidden_field :visible , :value =>"1" %>
  <%=f.hidden_field :replytype,:value =>"0" %>
  <p align="center"><%=submit_tag _('submit') %></p> 
<% end %>
