<p align="Left">  
<%= render :partial => "main_links"%>
</p>
<h2><%=_('rit_form_change_issue_stat')%></h2>
<% form_for @rit, :url => updatestat_project_rit_index_path, :id => @rit do |f| %>
<table border="1" width="100%" class="list-table">
  <tr>
    <td width="70"><%=_('rit_form_subject')%> : </td>
    <td><%=@rit.title %></td>
  </tr>
  <tr>
    <td><%=_('rit_form_requester')%> : </td>
    <td>
        <%=@uName.login%>
    </td>
  </tr>
  <tr>
    <td><%=_('rit_form_content')%> : </td>
    <td><%=simple_format(@rit.content) %></td>
  </tr>
  <tr>
    <td><%=_('rit_form_assign_to')%> : </td>
    <td><%#=f.select :assign_user_id ,[["Nobody",0]]+ @pjMeb.collect{|t|[t.login,t.id]} %>
            <% @asses.each do |g|%>
              <% if g.HasAssign.nil?
                    ckk = false
                  else
                    ckk = true
                end%>
            <%=check_box_tag "assigns[]", g.id , checked = ckk %>
            <%=g.login%>
          <% end%>
   </td>
  </tr>
  <tr>
    <td><%=_('rit_form_priority')%> : </td>
    <td><%=f.select :priority, @priority.collect{|t|[t_priority(t[0]),t[1]]} %></td>
  </tr>
  <tr>
    <td><%=_('rit_form_status')%> : </td>
    <td><%=f.select :status, @status.collect{|t|[t_status(t[0]),t[1]]} %></td>
  </tr>
  <tr>
    <td><%=_('rit_form_type')%> : </td>
    <td><%=f.select :tickettype,@type.collect{|t|[t_type(t[0]),t[1]]}%></td>
  </tr>
  <tr>
    <td><%=t('rit_form_tag')%> : </td>
    <td><%=f.text_field_tag :tag, @tags ,:size => 35 ,:maxlength => 100 %><br /><%=t('rit_form_tag_help')%></td>
  </tr>
  <% if current_user.id == @rit.user_id %>
  <tr>
    <td><%=t('rit_form_cc')%> : </td>
    <td><%=f.text_field_tag :cc, @cc_s ,:size => 35 , :maxlength => 200 %><br /><%=t('rit_form_cc_help')%></td>
  </tr>
  <tr>
    <td><%=t('rit_form_bcc')%> : </td>
    <td><%=f.text_field_tag :bcc, @bccs ,:size => 35 , :maxlength => 200 %><br /><%=t('rit_form_bcc_help')%></td>
  </tr>
<%end%>
</table>
<p align="center"><%=submit_tag _("submit") %></p>
<%end%>
