<h2><%=_('rit_link_post_new')%></h2>
<p align="Left">
  <%= render :partial => "main_links"%>
</p>
<% form_for @rit, :url => project_rit_index_path, :html=>{:multipart => true}  do |f| %>
<table border="1" width="100%" class="list-table">
  <tr>
    <td><%=_('rit_form_subject')%> : </td>
    <td><%=f.text_field :title ,:value => cookies[:title] %></td>
  </tr>
  <tr>
    <td><%=_('rit_form_requester')%> : </td>
    <td>
        <%=@uName.login%>
        <%=f.hidden_field :user_id , :value => current_user.id %>
    </td>
    <%if current_user.login=="guest"%>
      <tr>
        <td><%=_('rit_form_email')%> : </td>
        <td><%=f.text_field :guestmail, :value => cookies[:guestmail] %></td>
      </tr>
    <%else%>
      <%=f.hidden_field :guestmail, :value => 'rit@openfoundry.org'  %>
    <%end%>
  <tr>
    <td><%=_('rit_form_content')%> : </td>
    <td><%=f.text_area :content , :value => cookies[:content] %></td>
  </tr>
  <tr>
    <td><%=_('rit_form_fileattach')%> : </td>
    <td><%=render :partial => "fileupload_form" %>
      <br /><%=t('rit_form_file_send_limitnote' , :ufmax => number_to_human_size(RIT_MAX_UPLOAD_FILE_SIZE))%></td>
  </tr>
  <% if current_user.login!="guest" and @role.to_i==1 %>
  <tr>
    <td><%=_('rit_form_assign_to')%> : </td>
    <td>
    <% @pjMeb.each do |c| %>
      <%= check_box_tag "assigns[]", c.id %>
      <%= c.login%>
    <% end %>
    </td>
  </tr>
  <%end%>
  <%if current_user.login!="guest"%>
  <tr>
    <td><%=_('rit_form_priority')%> : </td>
    <td><%=f.select :priority,@priority.collect{|t|[t_priority(t[0]),t[1]]},:selected=>3%></td>
  </tr>
  <tr>
    <td><%=_('rit_form_type')%> : </td>
    <td><%=f.select :tickettype,@type.collect{|t|[t_type(t[0]),t[1]]}%></td>
  </tr>
  <tr>
    <td><%=t('rit_form_tag')%> : </td>
    <td><%=f.text_field_tag :tag, nil ,:size => 35 ,:maxlength => 100 %><br /><%=t('rit_form_tag_help')%></td>
  </tr>
  <tr>
    <td><%=t('rit_form_cc')%> : </td>
    <td><%=f.text_field_tag :cc, nil ,:size => 35 , :maxlength => 200 %><br /><%=t('rit_form_cc_help')%></td>
  </tr>
  <tr>
    <td><%=t('rit_form_bcc')%> : </td>
    <td><%=f.text_field_tag :bcc, nil ,:size => 35 , :maxlength => 200 %><br /><%=t('rit_form_bcc_help')%></td>
  </tr>

<%else%>
    <%=f.hidden_field :priority , :value=>2%>
    <%=f.hidden_field :tickettype , :value=>0%>
  <%end%>
</table>
  <% if current_user.login == 'guest' %>
    <%= recaptcha_tags %>
  <% end %>
<p align="center"><%=submit_tag _("submit") %></p>
<%=f.hidden_field :project_id , :value =>params[:project_id] %>
<%=f.hidden_field :status , :value =>1 %>
<%end%>
