<%
case @vcs
when Project::VCS[:SUBVERSION], Project::VCS[:SUBVERSION_CLOSE]
-%>
<% if @vcs == Project::VCS[:SUBVERSION] -%>
<h1><%= _('Subversion') %></h1>
<% else -%>
<h1><%= _('Subversion: Members Only') %></h1>
<% end -%>
<p>
  <%=t 'repository.use_svn_help'%>
  <br/><b>https:</b> <%= @src_https %>
  <br/><b>http:</b> <%= @src %>
</p>

<h3>Migrating from HTTP to HTTPS</h3>
<p>
  The https protocol is suggested for information security protection, if you are using the original http protocol, please migrate it to the new one by commands listed as below in your working copy folder:
  <br/>Check the repository current URL:
  <br/>$ svn info
  <br/>URL: http://svn.openfoundry.org/[Project Name]/trunk
  <br/>
  <br/>Replace http://svn.openfoundry.org/ to https://www.openfoundry.org/svn/， And use the "svn relocate" command change repository URL: 
  <br/>$ svn relocate https://www.openfoundry.org/svn/[Project Name]/trunk
</p>

<h3>New Repository</h3>
<p>
  After you make clone of the original repositoy and check out it as a new one, please create the subversion standard folder structure for it, and do the following development in the trunk folder.<br/>
  $ mkdir trunk branches tags<br/>
  $ svn add * <br/>
  $ svn ci -m 'Initial directory structure.'<br/>
  <br/>
  trunk: main development folder.<br/>
  branches: branches development folder.<br/>
  tags: version tags(Don't modify).
</p>

<h3>Convert a repository from Subversion to Git</h3>
<p>
Please see the reference at "<a href="http://www.openfoundry.org/of/projects/1/wiki/Subversion2Git" target="_blank">Subversion2Git</a>" here.
</p>

<% if @vcs_desc != "" -%>
<h3>Project VCS description</h3>
<p>
  <%= auto_link(simple_format(h(@vcs_desc))) %>
</p>
<% end -%>
<p><a href="http://<%=OPENFOUNDRY_HOST+root_path%>/help/vcs#%E9%80%8F%E9%81%8E%E5%91%BD%E4%BB%A4%E5%88%97%E5%AD%98%E5%8F%96SVN%E6%AA%94%E6%A1%88%E5%BA%AB"><%= _('Subversion Access|See More') %></a>.</p>

<%
when Project::VCS[:GIT]
-%>
<h1>Git</h1>
<p>
  <%=t 'repository.use_git_help'%>
  <br/><b>ReadOnly:</b> <%= @src_ro %>
  <br/><b>HTTPS:</b> <%= @src %>
</p>

<h3>New Repository</h3>
<p>
  Before you commit any contribution to the new Git repositoy by "push", please designate the &lt;repositoy&gt; and &lt;refspec&gt; first by commands listed as below:<br/>
  $ git push origin master
</p>

<h3>Repository Quota</h3>
<p>
  The storage limit for each Git repository in total is 1 Gigabyte, for a single file is 100 Megabyte.
</p>

<h3>Convert a repository from Subversion to Git</h3>
<p>
  Please see the reference at "<a href="http://www.openfoundry.org/of/projects/1/wiki/Subversion2Git" target="_blank">Subversion2Git</a>" here.
</p>
<% if @vcs_desc != "" -%>
<h3>Project VCS description</h3>
<p>
  <%= auto_link(simple_format(h(@vcs_desc))) %>
</p>
<% end -%>

<% when Project::VCS[:CVS] -%>
<h1><%= _('Anonymous CVS Access') %></h1>
<p>
  <%= t 'repository.use_cvs_help'%>
  <br/><b><%= @src %></b>
</p>
<p><%= auto_link(simple_format(h(@vcs_desc))) %></p>
<p><a href="http://<%=OPENFOUNDRY_HOST+root_path%>/help/vcs#%E9%80%8F%E9%81%8E%E5%91%BD%E4%BB%A4%E5%88%97%E5%
  AD%98%E5%8F%96CVS%E6%AA%94%E6%A1%88%E5%BA%AB"><%= _('Subversion Access|See More') %></a>.</p>

<% when Project::VCS[:REMOTE] -%>
<h1><%= _('Remote Repository') %></h1>
<p><%= auto_link(simple_format(h(@vcs_desc))) %></p>

<% else -%>
<h3><%= _('No Version Control System') %></h3>
<p><%= auto_link(simple_format(h(@vcs_desc))) %></p>
<% end -%>
