<% @module_name = capture do -%>
  <%=t( 'Menu.Category' ) %>
<% end -%>

<div id="ProjectSelect" name="ProjectSelect">

  <%=select( 'category', 'id',
						 Tagcloud.find( :all, :conditions => { :status => 1, :tag_type => 1 } ).collect { | c | [ c.name, c.id ] }.drop(1).sort.push([Tagcloud.first.name, 1]),
						 { :include_blank => 'All Category', :selected => params[ :cat ].to_i } )
		 # :selected is stored last status of checkbox ( it must be string!! )
  %>
  <%=observe_field 'category_id',
 		 							 :url => { :controller => :category, :action => :list },
							     :update => 'ProjectFilterList',
									 :loading => "Element.show( 'Search_Loading' )",
									 :loaded => "Element.hide( 'Search_Loading' )",
									 :with => "'cat=' + escape( $( 'category_id' ).value ) + '&nsc_or_not=' + escape( $( 'is_nsc_validated' ).checked ) + '&cat_query=' + $( 'cat_query' ).value"
	   # post both of select, checkbox, and search
  %>

  <%=text_field_tag( 'cat_query', params[ :cat_query ], :autocomplete => 'off' ) %>
	<%=observe_field 'cat_query',
									 :url => { :controller => :category, :action => :list },
		               :frequency => 1,
									 :update => 'ProjectFilterList',
									 :loading => "Element.show( 'Search_Loading' )",
									 :loaded => "Element.hide( 'Search_Loading' )",
		               :with => "'cat=' + escape( $( 'category_id' ).value ) + '&nsc_or_not=' + escape( $( 'is_nsc_validated' ).checked ) + '&cat_query=' + $( 'cat_query' ).value"
	   # post both of select, checkbox, and search
   %>

   <%=check_box( 'is_nsc', 'validated', :checked => ( params[ :nsc_or_not ] == 'true' ) ) + t( 'Text.NSC_Project' ) %>
  <%=observe_field 'is_nsc_validated',
		 							 :url => { :controller => :category, :action => :list },
		 							 :update => 'ProjectFilterList',
									 :loading => "Element.show( 'Search_Loading' )",
									 :loaded => "Element.hide( 'Search_Loading' )",
		 							 :with => "'cat=' + escape( $( 'category_id' ).value ) + '&nsc_or_not=' + escape( $( 'is_nsc_validated' ).checked ) + '&cat_query=' + $( 'cat_query' ).value"
	   # post both of select, checkbox, and search
   %>
   &nbsp;
   <%= link_to t('Advanced Options'), openfoundry_search_path(:adv_cat => 1) %>
  <img id="Search_Loading" width="15px" height="15px" src="../images/ajax-loader.gif" style="display:none"/>
<br>
</div>
