<p>
Welcome to <%= @app_name %>, <%= @name %>.
<br>
Your login credentials are:
<br>
login:    <%= @login %>
<br>
password: <%= @password %>
<br>
Please click on the following link to confirm your registration:
<br>
<a href="<%= @url%>">Click me!</a>
<br>
<%= @url %>
</p>
