<div title="user forgot_password" class="form">
  <%#= head_helper %>
  <%= error_messages_for :user  %>
  <div class="form-padding">
    <%#= message_helper 'forgot_reset' %>

    <% form_for :user, @user, :url => {:action => :forgot_password}, :builder => ApplicationHelper::TwoColumnFormBuilder do |f|-%>
      <label><%= _('User|Email')%>: </label>
      <%= f.text_field "email", :size => 30 %><br/>

      <div class="button-bar">
        <%= submit_tag _('User|Reset Password') %>
        <%= link_to _('Cancel'), :action => 'login' %>
      </div>
    <% end -%>
  </div>
</div>                                                                          
