<% content_for :head_content do -%>
 <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= @module_name ||controller.action_name %> 
         <%= '- '+(@project ? @project.name : '') %>
         - OpenFoundry
         <%= " __#{$$}__" if current_user.has_role?('site_admin')%></title>
  <link rel="shortcut icon" href="http://www.openfoundry.org/images/favicon.ico" />
  <% bundle :name => "prototype" do %>
  <%= javascript_include_tag "prototype" %>
  <% end %>
  <%# bundle :name => "all", :packr_options => {:shrink_vars => true, :base62 => false} do %>
  <%= stylesheet_link_tag "scaffold", "openfoundry" %>
  <%= javascript_include_tag "effects", "application" %>
  <%= javascript_include_tag 'calendar/calendar' %>
  <%= javascript_include_tag "calendar/lang/calendar-en.js" %>
  <%= javascript_include_tag 'calendar/calendar-setup' %>
  <%= javascript_include_tag "http://ssodev.openfoundry.org/sso/javascripts/langsync.js" %>
  <%= stylesheet_link_tag 'calendar' %>
  <%# end %>
  <%#= render :partial => 'partials/top_menu_data' %>
  <% if request.user_agent =~ /(msie 2|msie 3|msie 4|msie 5)/i %>
   <script>alert('Please use Internet Explorer 6 or above.');</script>
  <% end %>
<% end -%>

<% content_for :header_content do -%>
  <div id="header-toolbar">
    <div id="Login"><%= render :partial => 'partials/login' %></div>
    <%= render :partial => 'partials/lang'%>
  </div>
  <div id="search">
    <%= render :partial => 'partials/search', :locals =>{:size => 10}%>
  </div>
<% end -%>

<% content_for :body_content do -%>
<div id="of-body">
  <div id="rt-breadcrumbs">
    <div class="rt-breadcrumb-surround">
      <div id="SiteMap">
        <div id="BreadCrumbs"><%= breadcrumbs %></div>
      </div>
    </div>
  </div>

  <div id="MiddlePane">
    <div id="MainContent" class="rt-grid-9 rt-push-3">
      <div id="Flash"><%= show_flash %></div>
      <%if params["project_id"] != nil%>
        <h1><%= h(@project.summary) %></h1>
      <%end%>
      <%= yield :layout %>
    </div>
    <div id="LeftWidget" class="rt-grid-3 rt-pull-9">   
    	<%if params["project_id"] != nil%>
        <%=render :partial => "partials/project_logo", :locals => {:project => @project}%>
        <div id="LeftMenu">
          <%=render :partial => "partials/project_menu", :locals => {:project => @project}%>
        </div>
      <%elsif controller.controller_name == "help"%>
        <%=render :partial => "partials/help_menu"%>
      <%else%>
        <%=render :partial => "partials/homeleft"%>
      <%end%>
    </div>
  </div>
  <br clear="all" />
</div>

<script type="text/javascript">
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
  try {
    var pageTracker = _gat._getTracker("UA-5220412-1");
    pageTracker._trackPageview();
  } catch(err) {}
</script>
<% end -%>
<%= render :file => 'layouts/integration' %> 
