<fieldset style="width:48%; height:400px; float:left; margin-right:5px;">
  <legend><%= s_('survey|Project Contents')%></legend>
  <div class="" id="ProjectTree" style="height:380px; overflow:auto;"> 
<ul>
  <%@releases.each do |release| -%>
    <li>
    <input type="checkbox" id="ReleaseSelector_<%=release.id%>" onchange="toggleRelease(<%=release.id%>);reloadSurvey();">
      <%= @project.name%> <%= release.version%>
      <ul>
        <%release.fileentity.each do |file|%>
          <li>
          <input class="Release_<%=release.id%> SurveyFileSelector" type="checkbox" value="<%=file.id%>" onchange="reloadSurvey();">
            <%= file.path%>
          </li>
        <%end%>
      </ul>
    </li>
  <%end%>
</ul>
</div>
</fieldset>

<fieldset style="width:48%; height:400px;">
  <legend>
    <%= s_('survey|Project Surveys')%>
    <img id="Survey_Loading" width="15px" height="15px" src="/images/ajax-loader.gif" style="display:none"/>
  </legend>
  <input type="button" value="<%= s_('survey|Apply') %>" onclick="applySurvey();">
  <input type="button" value="<%= s_('survey|Remove') %>" onclick="removeSurvey();">
  <input type="button" value="<%= s_('survey|Reset') %>" onclick="resetSurvey();">
  <div class="" id="ProjectSurvey" style="overflow:auto; height:360px;">
    <%= render :file => 'app/views/survey/show.html.erb', :layout => false,
      :locals => {:survey_items => @survey_items, :item_status => @item_status,
        :files => @files, :resource => @resource,:prompt => ''}%>
  </div>
</fieldset>
<script>
  var survey_path = '<%=project_path(:id => @project)%>/survey/';
  function reloadSurvey(){
    $("Survey_Loading").show();
    ids = collectFileID();
    new Ajax.Updater('ProjectSurvey', survey_path+ids, {method:'get', asynchronous:false, evalScripts:true});
    $("Survey_Loading").hide();
  }
  function toggleRelease(rid){
    if(!rid){return;}
    arg=new Array();
    files=$$("input.Release_"+rid);
    files.each(function(e){if(e.checked){arg.push(e.value);}});
    checked=$("ReleaseSelector_"+rid).checked;
    empty=(arg.size()==0);
    if(checked && empty){files.each(function(e){e.checked=true;});}
    if(!checked && !empty){files.each(function(e){e.checked=false;});}
    
  }
  function resetSurvey(){
    reloadSurvey();
  }
  function removeSurvey(){
    $("Survey_Loading").show();
    ids = collectFileID();
    //resource=collectResource();
    //_prompt=$$("textarea.SurveyPrompt")[0].value
    //alert(resource);
    new Ajax.Updater('ProjectSurvey', survey_path+ids+'/delete', {method:'post', asynchronous:false, evalScripts:true});
    $("Survey_Loading").hide();
  }
  function applySurvey(){
    alert(ids);
    $("Survey_Loading").show();
    ids = collectFileID();
    resource=collectResource();
    _prompt=$$("textarea.SurveyPrompt")[0].value
    //alert(resource);
    new Ajax.Updater('ProjectSurvey', survey_path+ids+'/update', {method:'post', asynchronous:false, evalScripts:true, parameters:'?resource='+resource+'&prompt='+_prompt});
    $("Survey_Loading").hide();
  }
  function collectFileID(){
    arg=new Array();
    $$("input.SurveyFileSelector").each(function(e){if(e.checked){arg.push(e.value);}});
    ids=arg.join('_');
    if(!ids){ids='0';}
    return ids;
  }
  function collectResource(){
    arg=new Array(11);
    $$("input.SurveyItem").each(function(e){if(e.checked){arg[e.name]=e.value};});
    return arg.join('');
  }
</script>
