<% module_title = capture do -%>
   <%= image_tag "of/icon01.gif", :align => "left" %>
   <%=_('Statistics')%>
<% end -%>

<% module_content = capture do -%>
<ul>
  <li><%= _('Registed Projects')%>: <%= projectCount %></li>
  <li><%= _('Registed Users')%>: <%= userCount %></li>
</ul>
<% end -%>

<%= render :file => 'layouts/rt_module', :locals => {:module_title => module_title, :module_content => module_content, :variation => 'square1'} %>
