<% module_content = capture do -%>
<ul>
  <li><%= _('Registed Projects')%>: <%= projectCount %></li>
  <li><%= _('Registed Users')%>: <%= userCount %></li>
</ul>
<% end -%>

<%= render :file => 'layouts/rt_module', :locals => {:module_content => module_content, :variation => 'square1'} %>
