<% adv ||= false %> 
<% form_tag url_for(:controller => :openfoundry, :action => :search), :method => :get do -%>
  <div id="advanced_search">
	<% if params[:adv_cat] %>
  <input name="adv_cat" type="hidden" value="">
  <%= select( 'project', 'category',
						 Tagcloud.find( :all, :conditions => { :status => 1, :tag_type => 1 } ).collect { | c | [ c.name, c.id ] }.drop(1).sort.push([Tagcloud.first.name, 1]),
             { :include_blank => '(Category)' , :selected => (params[:project][:category].to_i unless params[:project].blank? || params[:project].fetch(:category).blank?) }  )
  %>

	<%=check_box_tag( 'is_nsc', value='1', checked = (true if params[:is_nsc] == '1')) + 'NSC Project' %>
	<br/>
	<%= select( 'project', 'maturity', 
						 Project::MATURITY.values.sort.map{ |x|[I18n.t(Project::MATURITY.index(x).to_s), x]},
             { :include_blank => '(Maturity)' , :selected => (params[:project][:maturity].to_i unless params[:project].blank? || params[:project].fetch(:maturity).blank?) } )
  %>
  <br/>

	<%=select( 'project', 'license',	Project::LICENSE_DATA.map{ |i,j| [(i > 0 ? j : I18n.t(j)), i] },
            { :include_blank => '(License)' ,:selected => (params[:project][:license].to_i unless params[:project].blank? || params[:project].fetch(:license).blank?) } )
	%>
  <br/>

	<%=select( 'project', 'platform',	Project::PLATFORMS.map{ |i| i },
            { :include_blank => '(Platform)' ,:selected => (params[:project][:platform] unless params[:project].blank? || params[:project].fetch(:platform).blank?) } )
	%>
	<br/>

	<%= select( 'project', 'programminglanguage', 
						 Project::PROGRAMMING_LANGUAGES.map{ |i| i },
             { :include_blank => '(Programming Language)' ,:selected => (params[:project][:programminglanguage] unless params[:project].blank? || params[:project].fetch(:programminglanguage).blank?) } )
	%>
	<br/>
	<% end %>
  </div>

  <%= text_field_tag( (if adv;'query_adv';else'query';end), @query, :size => (if adv and params[:adv_cat].nil?;size;end) ) %>
  <%= submit_tag _('search'), :class => 'button' %>


  <% if adv and params[:adv_cat].nil? -%>
    <a href="<%=openfoundry_search_path(:adv_cat => '', :query => params[:query])%>"><%=t( 'Advanced Options' ) %></a>
  <% end -%>

  <!-- hidden field for old search news and files -->
  <%if adv and params[:adv_cat].nil? and params[:show_old_option] %>
    <a href="#" onclick="Effect.toggle('search_chk','appear');Effect.toggle('search_inc','appear');
     document.getElementById('query_adv').value=''; return false">
    <%=_('Advanced Options')%>
  </a>
    <script>
        s_check = s_and = s_or = s_not = ''; 
        function update_query(){
            q = s_check+' '+s_and +' '+ s_or +' '+ s_not;
            q = q.replace(/^\s+|\s+$/g,'').replace(/\s+/g,' ');
            document.getElementById('query_adv').value = q;
        }    
        function update_and_query(){
            s_and = document.getElementById('query_include_and').value.replace(/^\s+|\s+$/g,'').replace(/\s+/g,' ');
            update_query();
        }
        function update_or_query(){
            s_or = document.getElementById('query_include_or').value.replace(/^\s+|\s+$/g,'').replace(/\s+/g,' ').split(' ').join(' OR ');
            update_query();
        }
        function update_not_query(){
            s_not = document.getElementById('query_exclude').value.replace(/^\s+|\s+$/g,'').replace(/\s+/g,' ').split(' ').join(' -');
            if(s_not != ''){
                    s_not = '-' + s_not
            }
            update_query();
        }
      </script>
      <div id='search_chk' style="display:none;">
        <fieldset>
          <legend><%= _('Search in Class') %></legend>
          <div id='query_chk_class'>
            <% %w(News Fileentity).each_with_index do |model_class,i| %>
              <%= check_box_tag model_class, true, false, :name => "chk[#{model_class}]"%> 
              <%= _(model_class) %>
              <%= if i%6 == 5 ;"<br/>"; end %>
            <% end %>
          </div>
        </fieldset>
      </div>
      <%end%>
    <%end%>
    <%if adv%>
      <div id='search_inc'  style="display:none;">
        <fieldset>
          <legend><%= _('Search Include ALL of the List') %></legend>
          <%= text_field_tag 'query_include_and','', :size => size, :onchange => 'update_and_query();return false' %>
        </fieldset>
        <fieldset>
          <legend><%= _('Search Include ANY of the List') %></legend>
          <%= text_field_tag 'query_include_or','', :size => size, :onchange => 'update_or_query();return false' %>
        </fieldset>
        <fieldset>
          <legend><%= _('Search Exclude ANY of the List') %></legend>
          <%= text_field_tag 'query_exclude','', :size => size, :onchange => 'update_not_query();return false' %>
        </fieldset>
<fieldset>
<legend><%=_('Search by Google')%></legend>
<form method="get" action="http://www.google.com/search">

<input type="text"   name="q" size="31"
 maxlength="255" value="" />
<input type="submit" value="Google Search" />
<input type="radio"  name="sitesearch" value="" />
 The Web
<input type="radio"  name="sitesearch"
 value="www.openfoundry.org" checked /> www.openfoundry.org <br />

</form>
</fieldset>
      </div>
  <%end%>
