<% bundle :name => "dragdrop", :packr_options => {:shrink_vars => true, :base62 => true} do %>
<%= javascript_include_tag "dragdrop"  %>
<% end %>
<div id="ProjectMemberEdit">
    <table class="list-table">
      <th style="text-align:left">
        <%= _('Search for New Member')%>: 
        <input id="new_member_search" size="25" type="text">
      </th>
    </table>
    <%= observe_field "new_member_search",
      :url => {:controller => :user, :action => :search},
      :frequency => 0.5,
      :update => 'ProjectMemberNew',
      :with => :username
  %>
    <div id='ProjectMemberNew' style='height:186px;'>
    </div>
    <% drop_class = "ProjectRoleDropDelete" %>
    <% drop_id = "RemoveThisMember" %>
    <div class='<%= drop_class %>' id='<%= drop_id %>'>
      <%= _('Drop People Here to Remove Them from the group') %>
    </div>
    <%= drop_receiving_element drop_id,
      :onDrop => "function(drag_element, drop_element, event){
    if (confirm(\"#{escape_javascript(_('This will remove User from this Group, are you sure?'))}\"))
    {#{remote_function(:update => 'module_content',
    :url => {:controller => :projects,
    :action => :member_delete,
    :id => @project.id},
    :with => "'u=' + encodeURIComponent(drag_element.id)"
    )};}
    }",
      :accept => 'RolesUsersSelection',
      :hoverclass => "#{drop_class}_active"
  %>
    <% @roles.each_with_index do |role, i| %>
      <% drop_id = "role_#{role.id}" %>
      <% drop_class = "ProjectRoleDrop" %>
      <div id='<%= drop_id %>' class='<%=drop_class%>'>
        <table class="list-table">
          <tr> <th style="text-align:left"> <%= role.name %> </th> </tr>
        </table>
        <div>
          <% @users_map[i].each_with_index do |user,ii| %>
            <% r_u_id = "role_#{role.id}_user_#{user.id}" %>
            <div class="RolesUsersSelection" id="<%= r_u_id %>" style="">
              <%= render :partial => "roles_users_selection", :locals => {:user => user} %>
            </div>
            <%= draggable_element r_u_id, :revert => true %>
          <% end %>    
          <br clear="all"/>
        </div>
      </div>
      <%= drop_receiving_element drop_id,
        :onDrop => "function(drag_element, drop_element, event){
      if (confirm(\"#{escape_javascript(_('This will add User to this Group, are you sure?'))}\"))
      {#{remote_function(:update => 'module_content',
      :url => {:controller => :projects,
      :action => :member_change,
      :id => @project.id},
      :with => "'u=' + encodeURIComponent(drag_element.id) + '&r=' + encodeURIComponent(drop_element.id)"
      )};}
      }",
        :accept => 'RolesUsersSelection',
        :update => 'roles_edit',
        :url => {:controller => :projects, :action => :role_user_update},
        :hoverclass => "#{drop_class}_active"
    %>      
    <% end %>
</div>
