<% module_title = capture do %>
  <%=_('Basic Information') %>
<% end %>
<% module_content = capture do %>
  <%= render :partial => "basic" %>
<% end %>
<%= render :file => 'layouts/rt_module', :locals => {:module_title => module_title, :module_content => module_content, :variation => 'square1'} %>

<br/>
<table>
  <tr>
    <td>
      <%= link_to "<span>#{_('Downloads')}</span>", download1_path(:project_id => @project.id), :class => 'readon' %>
    </td>
    <td>
      <%= link_to "<span>#{_('project_Tracker')}</span>", rt_path(:project_id => @project.id), :class => 'readon' %>
    </td>
  </tr>
</table>

<br/>
<% module_title = capture do %>
  <%='Project Issues' %>
<% end %>
<% module_content = capture do %>
  <%= render :partial => "project_issues" %>
<% end %>
<%= render :file => 'layouts/rt_module', :locals => {:module_title => module_title, :module_content => module_content, :variation => 'square1'} %>

<br/>
<% module_title = capture do %>
  <%= _('Project Participants') %>
<% end %>
<% module_content = capture do %>
  <%=render :partial => 'member' %>
<% end %>
<%= render :file => 'layouts/rt_module', :locals => {:module_title => module_title, :module_content => module_content, :variation => 'square1'} %>

<br/>
<%# module_content = capture do %>
  <%#=render :partial => "logo" %>
<%# end %>
<%#= render :file => 'layouts/rt_module', :locals => {:module_content => module_content, :variation => 'square1'} %>

<%# module_content = capture do %>
  <%#=render :partial => "menu" %>
<%# end %>
<%#= render :file => 'layouts/rt_module', :locals => {:module_content => module_content, :variation => 'square1'} %>
<%# module_title = capture do %>
  <%#= _('Project News') %>
<%# end %>
<%# module_content = capture do %>
  <%#= render :partial => "news/news_list" %>
<%# end %>
<%#= render :file => 'layouts/rt_module', :locals => {:module_title => module_title, :module_content => module_content, :variation => 'square1'} %>

<br clear="all" />
