<% module_title = capture do %>
  <%=_('Basic Information') %>
<% end %>
<% module_content = capture do %>
  <%= render :partial => "basic" %>
<% end %>
<%= render :file => 'layouts/rt_module', :locals => {:module_title => module_title, :module_content => module_content, :variation => 'square1'} %>

<table>
  <tr>
    <td>
      <%= link_to "<span>#{_('Downloads')}</span>", download1_path(:project_id => @project.id), :class => 'readon' %>
    </td>
    <td>
      <%= link_to "<span>#{_('project_Tracker')}</span>", rt_path(:project_id => @project.id), :class => 'readon' %>
    </td>
  </tr>
</table>

<% module_title = capture do %>
  <%=_( 'Project Issues' ) %>
<% end %>
<% module_content = capture do %>
  <%= render :partial => "project_issues", :locals => { :rss => @rss }%>
<% end %>
<%= render :file => 'layouts/rt_module', :locals => {:module_title => module_title, :module_content => module_content, :variation => 'square1'} %>

<% module_title = capture do %>
  <%= _('Project Participants') %>
<% end %>
<% module_content = capture do %>
  <%=render :partial => 'member' %>
<% end %>
<%= render :file => 'layouts/rt_module', :locals => {:module_title => module_title, :module_content => module_content, :variation => 'square1'} %>
