<% @news = News.where(:catid => @project.try(:id), :status => News::STATUS[:Enabled]).order('updated_at desc').limit(3) %>

<% if @news.size > 0 %>
<% module_title = capture do %>
  <%= _('project_News') %>
<% end %>

<% module_content = capture do %>
  <ul>
    <% for news in @news %>
      <li>
        <%= link_to h(news.subject), project_news_path(news.project, news), :class => "news_subject" %>
        <%=news.updated_at.strftime "%Y-%m-%d" unless news.updated_at.blank? %>
      </li>
    <% end %>
  </ul>

  <%= link_to _('More...'), project_news_index_path(@project), :class => "more" %>
<% end %>

<%=render :file => 'layouts/rt_module', :locals => { :module_title => module_title, :module_content => module_content, :variation => 'square1' } %>
<% end %>
