<% @news = News.find( :all, :conditions => "catid=#{ @project.id } and status = #{ News::STATUS[ :Enabled ] } ", :order => "updated_at desc", :limit => 3 ) %>

<% if @news.size > 0 %>
<% module_title = capture do %>
  <%= _('project_News') %>
<% end %>

<% module_content = capture do %>
  <ul>
    <% for news in @news %>
      <li>
        <%=link_to h( news.subject ), news1_path( :id => news.id, :project_id => news.catid ), :class => "news_subject" %>
        <%=news.updated_at.strftime "%Y-%m-%d" %>
      </li>
    <% end %>
  </ul>

  <%=link_to _( 'More...' ), news_path( :project_id => @project.id ), :class => "more" %>
<% end %>

<%=render :file => 'layouts/rt_module', :locals => { :module_title => module_title, :module_content => module_content, :variation => 'square1' } %>
<% end %>
