<% module_title = capture do -%>
  <%=link_to image_tag('atom.png', 
               {:alt => 'atom', :width => '20px', :style => 'padding:5px;float:right'}),
               {:controller => :rss, :format => :rss, :cont => 'new_project'} %>
  <%= _('New Projects') %>
<% end -%>

<% module_content = capture do -%>
<ul>
  <% for project in projectList -%>
  <li>
    <%= link_to h(project.summary), project_path(:id => project.id) %>
    <%= project.created_at.strftime "%Y-%m-%d" %>
  </li>
  <% end -%>
</ul>
<%=link_to _('More...'), projects_path() + "?sortdesc=listing-created_at", :class => "more" %>
<%=auto_discovery_link_tag(:rss, 
   {:controller => :rss, :format => :rss, :cont => 'new_project'},
   { :title => _( "Feed|#{ _( 'New Projects' ) } RSS Feed" ) } ) %>
<%=auto_discovery_link_tag(:atom, 
   {:controller => :rss, :format => :atom, :cont => 'new_project'},
   { :title => _( "Feed|#{ _( 'New Projects' ) } ATOM Feed" ) } ) %>
<% end -%>

<%= render :file => 'layouts/rt_module', :locals => {:module_title => module_title, :module_content => module_content, :variation => 'square1'} %>
