<style>
  .icon_border { border:solid 1px #abc;
      width:<%=@size%>px;
      height:<%=@size+20%>px;
      float:left;
      overflow:hidden;
      font-weight:bold;
      margin:1px;
    }
  .icon_border > div { height:<%=@size%>px; }
</style>
<%= form_tag do%>
  <%= select_tag :size, options_for_select([16, 32, 64, 128], @size) %>
  <%= submit_tag "submit" %>
  <div>
    <% @projects.each do |p| %>
      <a href="<%= project_path(p.id) %>" target="_blank">
        <div title="<%= p.name %>" class="icon_border">
          <div>
            <img src="<%= cached_image_images_path("#{p.icon}_#{@size}")%>" />
          </div>
          <span><%= p.name %></span>
        </div>
      </a>
    <% end %>
    <div style="clear:both"></div>
  </div>
<% end %>
