<div id="search_result">
  <h1><%= _('Search Result') %></h1>
  <div id="search">
    <%= render :partial => 'partials/search', :locals =>{:size => 45, :adv => true}%>	
  </div>
  <%unless @results.empty?%>
  <%= paginate = will_paginate @results %>  
  <table class='form-table'>
    <% @results.each do |record| %>
      <tr>
        <%= render(:partial => "#{@lookup[record.class.class_name]}/search_hit", :layout => false, :locals => {:record => record}) %>
      </tr>
    <% end %>
  </table>
  <%= paginate %>  
  <%else%>
no record!
  <%end%>

  <br/><br/>
  <p>
  <%=t( 'tagcloud.title' ) %><br/>
    <% Tagcloud.tags_assign_font_size( 'ALL' ).each do | s | -%>
      <%="<a href=\"#\"><font style=\"font-size: #{ s[ :font ] }px;\">#{ s[ :name ] }</font></a>(#{ s[ :tagged ] }) " %>
    <% end -%>
  </p>
</div>
