<%- require 'rss/1.0' %>
<%- require 'rss/2.0' %>
<%- require 'open-uri' %>

<%- div_id ||= 'www_news' %>
<%- subject_class ||= 'news_subject' %>
<%- rss_link ||= 'http://www.openfoundry.org/en/rss-feed/News' %>
<%- more_link ||= 'http://www.openfoundry.org' %>

<%- rss = "" %>
<%- open(rss_link) do |raw| rss = RSS::Parser.parse(raw.read, false) end %>

<h3>
	<img src="/images/of/main_icon01.gif" align="left" />
  <%=link_to image_tag('/images/atom.png', 
         {:alt => 'rss', :width => '20px', :style => 'padding:8px;float:right'}),
	       rss_link %>
	<%=_('Daily News')%>
</h3>
<div id='<%= div_id %>'>
  <ul>
    <% rss_sorted_by_date = rss.items.sort_by {|item| item.date}.reverse %>
    <% rss_sorted_by_date.each_with_index do |item, i| %>
    <%# rss.items.each_with_index do |item, i| %>
      <li>
      <%= if item.date > 7.days.ago then image_tag('/images/hot.png') end %>
      <%= link_to item.title, item.link, {:class => subject_class} %>
      <%= item.date.strftime "%Y-%m-%d" %>
      </li>
    <%end %>
  </ul>
  <%=link_to _('More...'), more_link, :class => "more" %>
</div>
<%=auto_discovery_link_tag(:rss, rss_link,
  {:title => s_("Feed|%{name} %{type} Feed") % {:name => _('Daily News'), :type => 'RSS'} }) %>
