<!--search hit-->
<td>
  <%= project_logo_link(record)%>
</td>
<td>
  <a href="<%= project_url(:id => record.id) %>"><%= h record.name %></a>
</td>
<td>
  <%= h record.summary %>
</td>
<td>
  <%= record.cattag.name if record.cattag %>
</td>
<td>
  <%= record.alltags.map{ |t| t.name }.join( ', ' ) if record.alltags %>
</td>
<!--search hit end-->
