<%  def rows(i = 0, *data)
    rtn = ""
    while ( ! data.empty? )
      h = data.shift
      d = data.shift

      rtn += %Q!<tr><td width="20%" class="fieldstyle">#{h}：</td><td width="80%">#{d}</td></tr>\n! if not strip_tags(d).blank?
    end
    rtn
end %>

<%  def show_with_seperator(v) 
    "#{v}".split(",").grep(/./).map { |ele|
      content_tag(:span, ele)
    }.join(", ") 
end %>

<div id="ProjectBasic">  
    <div id="basic">
    <table class="list-table" >
      <tr >
        <td width="20%" class="fieldstyle"><%= t("Project|Description") %>：</td>
  <td width="80%" style="word-wrap: break-word; word-break: break-all;">
    <%=content_tag(:span, @project.description.mb_chars[0..149], :id => "more_head") %>
    <%=content_tag(:span, @project.description.mb_chars[150..-1], :style => "display:none", :id => "more") %>
  <% if @project.description.mb_chars.length > 150 -%>
  <span id="showMoreLink">
    ...
    <br/>
    <a id ="mr" href="#" onclick="Effect.toggle('more', 'blind', {duration: 0.3}); $('showMoreLink').hide(); $('showLessLink').show(); return false" style="padding:8px;float:right"><%= t('More...') %></a>
  </span>
  <span id="showLessLink" style="display: none;">
    <a id ="le" href="#" onclick="Effect.toggle('more', 'blind', {duration: 0.3}); $('showMoreLink').show(); $('showLessLink').hide(); return false" style="padding:8px;float:right"><%= t('Less...') %></a>
  </span>
	<% end -%>
	</td>
      </tr>
  </table>
  </div>
  <%
    alltaglist = [ 
      @pjtags.map{ | t | link_to(t.name, search_openfoundry_path( :query => "tag:#{ t.name }", :commit => 'search' )) if t.status == 1 }.compact.join( ', ' ), 
      @pjtags.map{ | t | "<span title='#{ t( 'Msg.New_Added_Tag' ) }'><font color='#c0c0c0'>" +
                         t.name +
                         '</font></span>' if t.status == 0 }.compact.join( ', ' )
    ].delete_if{ | s | s == '' }.join( ', ' )
  %>
  <div id="more2">
    <table class="list-table">
    <%= rows(1, 
      * ([ 
      t("Project|Category"), link_to(@category, list_category_path( :cat => @project.category )),
			t("Project|Tags"), alltaglist,
			t("Project|Contactinfo"), @project.contactinfo,
      t("Project|License"), @project.licenses_to_s.map {|i_s| i_s[0] > 0 ? link_to(i_s[1], t("url_link_for_#{i_s[1].gsub('.', '_')}"), :target => "_blank") : t("#{i_s[1]}")}.join("<br/>\n"), 
      t("Project|Contentlicense"), @project.content_licenses_to_s.map {|i_s| i_s[0] > 0 ? link_to(i_s[1], t("url_link_for_#{i_s[1].gsub('.', '_')}"), :target => "_blank") : t("#{i_s[1]}")}.join("<br/>\n"), 
      t("Project|Licensingdescription"), @project.licensingdescription, 
      t("Project|Platform"), show_with_seperator(@project.platform),
      t("Project|Programminglanguage"), show_with_seperator(@project.programminglanguage),
      t("Project|Vcs"), @project.vcs_to_s,
      t("Project|Created at"), content_tag(:span, tz_datetime(@project.created_at), :content => tz_date(@project.created_at)),
      ] + (@nsccode.empty?() ? [] : [ t("Project|Nsccode"), h(@nsccode)]) ) )
    %>
  </table>
  </div>
</div>
