<fieldset>
  <legend>
    <%if f.object.new_record?%>
      <%= _('User|Password')%>
    <%else%>
      <%= _('Change User Password') %>
    <%end%>
  </legend>
  <%= f.hidden_field 'form', :value => 'change_password' %>

  <table class="form-table">
    <% unless(f.object.new_record? or f.object.t_forgot_password)%>
      <%= f.label :old_password, _('User|Old Password')+':', :must => true, :help => _('User|Old_password|help') %>
      <%= f.password_field "old_password", :size => 30 %>
    <% end %>  
    <%= f.label :password, _('User|Password')+':', :must => true, :help => _('User|Password|help') %>
    <%= f.password_field "password", :size => 30 %>
    <%= f.label :password_confirmation, _('User|Password Confirmation')+':', :must => true %>
    <%= f.password_field "password_confirmation", :size => 30 %>
  </table>
    <%= submit_tag _('User|Change Password'), "class" => "button" if submit%>
</fieldset>
