<div id="ReleaseBasic">
  <%= link_to '[back to list]', releases_url( :project_id => @project_id ) %>
  <%= arranged('RaleaseItem', @release, {:fields_per_column => 3})%>
  <%= link_to '[edit]', edit_release_url(
      :project_id => @project_id,
      :id => @release )
     %>
    <%= link_to '[delete]', delete_release_url({
        :project_id => @project_id,
        :id => @release
      }), 
      :confirm => 'Delete?', 
      :method => :post
     %>
  <h1>Files: </h1>
  <%= link_to '[add files]', 
      :project_id => @project_id,
      :action => :uploadfiles ,
      :id => @release
     %>
  <% if @files.empty? -%>
    <h3>No File in Release</h3>
  <%end%>
  <% @files.each do |f|%>
    <%= arranged('FileItem', f, {})%>
  <%end%>
  
</div>
