<p>
Dear User, this message is from <%= @app_name %><br />
<br />
You had change your email address on '<%=OPENFOUNDRY_HOST%>/sso/user/edit'.<br />
<br />
<br />
NOTICE!<br /> 
<br />
**DO NOT CLICK THE LINK**, if you havn't regist on our website.<br />
<br />
<br />
<br />
Click on the following link to confirm your email modification:<br />
<br />
<a href="<%= @url%>">Click Me!</a><br />
<br />
Or click:<br />
<br />
<a href="<%= @url%>"><%= @url %></a><br />
<br />
</p>
