<h1><%=@data_item.subject%></h1>

<% form_for(:job, :url => {:action => "update"}, :html => { :method => :put }) do |f| %>
  <%= render :partial => 'form' %>
  <%= submit_tag _('Save') %>
<% end %>

<%= link_to _('View'), :action => 'show', :id => @data_item %> |
<%= link_to _('List'), :action => 'index' %>
