<% module_title = capture do -%>
<%= _( 'menu_My Projects' ) %>
<% end %>

<a id="myprojects"></a>
<% module_content = capture do -%>
  <% if not my_projects.blank? %>
    <table>
      <% my_projects.each do | p | %>
        <tr>
          <td rowspan="2" style="vertical-align: middle;">
            <a href="<%=project_url( p.id ) %>">
              <img src="<%=url_for( :controller => :images, :action => "cached_image", :id => "#{ p.icon }_64" ) %>" style="vertical-align: middle;">
            </a>
          </td>
          <td><h3>&nbsp;<a href="<%=project_url( p.id ) %>"><%="#{ p.name }" %></a></h3></td>
          <td align="right"><%="#{ tz_date( p.updated_at ) }" %></td>
        </tr>

        <tr>
          <td colspan="2">
            <span class="mp_button"><a href="<%="#{ root_path }projects/#{ p.id }/rt" %>">Issue Tracker</a></span>
            <span class="mp_button"><a href="<%="#{ root_path }projects/#{ p.id }/kwiki" %>">Wiki</a></span>
            <span class="mp_button"><a href="<%="#{ root_path }projects/#{ p.id }/download" %>">Release</a></span>
            <span class="mp_button"><a href="<%="#{ root_path }projects/#{ p.id }/member_edit" %>">Member</a></span>
            <span class="mp_button"><a href="<%="#{ root_path }projects/#{ p.id }/permission_edit/" %>">Permission</a></span>
            <span class="mp_button"><a href="<%="#{ root_path }projects/#{ p.id }/viewvc" %>">Version Control</a></span>
            <span class="mp_button"><a href="<%="#{ root_path }projects/#{ p.id }/survey" %>">Surveys</a></span>
          </td>
        </tr>

        <tr><td height="15"></td></tr>
      <% end %> 
    </table>
  <% else %>
    Sorry, there is no data for your request. 
  <% end %>
<% end %>

<%=render :file => 'layouts/rt_module', :locals => { :module_title => module_title, :module_content => module_content, :variation => 'square1' } %>


