<div id='UploadImage' style='display:none'>
  <%= error_messages_for("image") %>
  <%#= form_remote_tag(:update => 'UserImage', :url => 
      {:controller => :images, :action => 'upload'},
    :multipart => true) %>
  <% form_tag({:controller => :images, :action => 'upload'}, :multipart => true) do %>
  <%= hidden_field_tag 'type', type %>
  <%= hidden_field_tag 'id', id %>
  <%= hidden_field_tag 'back_to', back_to %>
  <%= _('Upload your picture')%> : 
  <br/>
  <%= file_field("images","image", :size => 15) %>
  <br/>
  <%= submit_tag( _("Upload"), "class" => "button" ) %>
  <%end%>
</div>
