<%
@vcs_check = params[:nsc] || 'false'
nsc_by_name = params[:nscname] || 'false'  
conditions = ""
nscs = "'multicore','jvm','garcol','hmp','ssempp','eplmcs','rtscheduler','ecv ','aridps','vmc','vmcsubproject1','vmcpss','vmc97am','vmcsyn','vmctms','ebl','eblembsysbench','multicoretool','winlab97','esbs','nsc962218y1','wirelesssignal','mediacenter','gandalf4convert','nsc97webos','netanalyzer','eiptv','eips','inight168','roamingrobot','futurelife','emotionsystem','homesecure','scel9701','ppkb007','nsc97uhome','yangi','wimaxsystem','wimaxchn','wimaxmimo','wimaxphy2','wimaxphy1','wimax3subp5','wimaxqos001','video2008','lis2008 ','jcis4','wimaxspmt','oscha','asng2 ','yzudsp','highqualityvoip','sccs','qualityopc','coursewarereg','spam','gqs','monitoragent','ompd','dishes','disirer2008','glossator','soankers','robotagent001','jsim802154','rfidzigbee','middlewaremdbc','interactivesate','pvlan2008','viskitopc','powernoc','xdiva','medicinesbox','nsc97pskd','web2qop','uwardcare','qosphone','androidnavi','ivaspqrgps100','androidpim','nsysumt','nettv','pvas','sfer','android','rtgtalk','dmatgcaw','abcystem','avs','msvd','thirdpcc','cnlab','immrmcpt','nsc97jvm','u1097305131','sensor606618','mobiletraveling','nsc97obd','ismp'"
if nsc_by_name == 'false'
  conditions = Project.in_used_projects(:alias => "projects")
else
  conditions = " projects.name in (#{nscs}) AND #{Project.in_used_projects(:alias => "projects")}"
end
projects = Project.find(:all, :joins=>:tags, :conditions => [conditions + "AND (projects.name LIKE ? OR projects.description LIKE ? OR tags.name LIKE ?)", "%#{params[:query]}%", "%#{params[:query]}%", "%#{params[:query]}%"])
i = 0
%>
<div id="ReleaseList">
  <h1><%= _('Release Listing') %></h1>
  <form name="filter" action="" style="display:inline" >
    <label for="filter">Filter by Name, Description or NSC: </label>
    <%= text_field_tag "query", params['query'] %>
    <label for="nsc">VCS Check:</label>
    <%= select_tag('nsc', options_for_select(['false','true'] , params[:nsc])) %>
    <label for="nsc">NSC by Name:</label>
    <%= select_tag('nscname', options_for_select(['false','true'] , params[:nscname])) %>
    <%= submit_tag 'Search' %>
  </form>
  <% form_tag ({:action => :csv, :selection=>params[:query], :nscconditions=>conditions, :vcscheck=>@vcs_check}, :style=> "display:inline" ) do -%>
    <%= submit_tag 'Export to CSV' -%>
  <% end -%>
  <table id="customers">
    <tr>
    <th align=left>編號</th>
    <th align=left>計畫編號</th>
    <th align=left>專案ID</th>
    <th align=left>OpenFoundry專案代號(專案名稱)</th>
    <th align=left>計畫名稱</th>
    <th align=left>專案描述</th>
    <th align=left>成熟度</th>
    <th align=left>建立日期</th>
    <th align=left>建立者</th>
    <th align=left>下載次數</th>
    <th align=left>VCS</th>
    <th align=left>VCS Info</th>
  </tr>
  <% for project in projects %>
    <%
      tmp_nsccode = project.tag_list.names.grep(/^NSC\d/).sort.join("<br/>")
      find_nsccode = ""
      if tmp_nsccode == ""
        if project.description and project.description.match(/NSC/).nil? == false
          find_nsccode = project.description.scan(/NSC[ ]?\d[\d\-E]+/).join("<br/>")
          if(find_nsccode == "" )
            find_nsccode = project.description.scan(/\d{2}-\d[\d\-E]+/).join("<br/>")
          end
      end
    end
  next if tmp_nsccode == "" && find_nsccode == ""
  tmp_nsccode += " " + find_nsccode
%>
<%if i % 2 == 0; class_name="even"; else; class_name="alt"; end; -%>
  <tr class="<%= class_name -%>">
    <td><%= (i+=1).to_s -%></td>
    <td><%= tmp_nsccode -%></td>
    <td><%= project.id -%></td>
    <td><%= project.name -%></td>
    <td><%= project.summary -%></td>
    <td><%= project.description -%></td>
    <td><%= project.maturity_to_s -%></td>
    <td><%= (project.created_at).strftime("%Y-%m-%d") -%></td>
    <td>
      <% u = User.find_by_id(project.creator) -%>
      <%= "#{u.login} (#{u.realname})" -%>
    </td>
    <td><%= project.project_counter %></td>
    <td><%= Project.vcs_to_s(project.vcs) %></td>
    <td>
      <% if @vcs_check == 'true' -%>
        <%
          #abc = system 'cvs -d :ext:cvs@192.168.0.40:/cvs rlog nctupr | grep -m1 date > /tmp/nsc_svn.log'
          abc = system "svn info http://svn.openfoundry.org/#{project.name} > /tmp/nsc_svn.log" 
          log = ""
          File.open("/tmp/nsc_svn.log").each{|line| log += "#{line}<br/>"}
        -%>
        <%=log -%>
      <% end -%>
    </td>
  </tr>
<% end -%>
</table>
</div>
