<div id="ReleaseBasic">
  <table class=list-table>
  <% @releases.each do |release|%>
    <%
      due = release.due.strftime("%Y/%m/%d") if release.due
      due ||= "Due Day Unknown"
    %>
    <tr>
      <th style="text-align: left">
        <div style="float: right">
          <% if @permissions.include?(:survey) %>
            <%= link_to s_('survey|Downloader Reviews'), release_review_path(@project.id, release.version) %>
          <% end %>
        </div>
        <B><%= tag(:a, :name => release.version) %> <%= h(release.version) %> (<%= due %>)</B>
      </th>
    </tr>
    <% @files = release.fileentity %>
    <% @files.each do |file| %>
    <tr>
      <td>
        <div style="float: right">
          <% if @permissions.include?(:survey)%>
            <%= link_to s_('survey|Downloader Reviews'), file_review_path(@project.id, release.version, file.path) %>
          <% end %>
          <a href="javascript:" class="toggle-description" data-file-id="<%= file.id %>">
            <%= s_('survey|Toggle Description') %>
          </a>
        </div>
        <b><%= link_to h(file.path), download_url(:project_name => @project_name, 
                                                  :release_version => release.version,
                                                  :file_name => file.path ) %></b><br/>
               <div id="file-<%= file.id %>" class="description" style="display: none">
          <%= "#{number_to_human_size(file.size)}, " + _("Downloads Hits") + file.file_counter.to_s %><br/>
          <%= h(file.description) %>
        </div>
      </td>
    </tr>
    <% end %>
  <% end %>
  </table>
  <%= will_paginate @releases %>
</div>
<% if @rdr_download_url %>
  <script>
    Event.observe(window,'load',redirect_download);
    function redirect_download(){
      window.location = "<%= @rdr_download_url %>";
    }
  </script>
<% end %>
