<div id="ReleaseBasic">
  <% @releases.each do |release|%>
    <table class=ReleaseNew >
<tr><th><em class='require'>*</em><%= Release.columns_hash['version'].human_name  -%> : </th>
<td><%= release.version %></td>
</tr>
<tr><th><%= Release.columns_hash['due'].human_name  -%> : </th>
<td><%= release.due %></td>
</tr>
<tr><th><em class='require'>*</em><%= Release.columns_hash['status'].human_name  -%> : </th>
  <td><%= Release.status_to_s(release.status) %></td>
</tr>
</table>
    <%= link_to '[Edit]', project_release_url(@project, release) %>
    <%= link_to '[Delete]', delete_project_release_url(@project, release), :confirm => 'Delete?', :method => :post %>
  <% end %>
</div>
