<div id=uploadfiles_view>
  <% unless flash.now[:message].nil? -%>
    <h1> <%= flash.now[:message]%> </h1>
  <% end -%>
  <fieldset>
    <div id="editrelease_view">
      <table class=ReleaseShow >
        <tr><th> <%= Release.columns_hash['version'].human_name  -%> : </th>
          <td> <%= h(@release.version) %> </td>
        </tr>
        <tr><th> <%= Release.columns_hash['due'].human_name  -%> : </th>

          <td> <%= h(@release.due) %> </td>
        </tr>
        <tr><th> <%= Release.columns_hash['status'].human_name  -%> : </th>
          <td> <%= h(Release.status_to_s(@release.status)) %> </td>
        </tr>
      </table>
      <%= link_to_remote _('[Edit]'), :url => editrelease_project_release_path(@project, @release),
                                      :update => "editrelease_view" %>
      <%= link_to _('[Delete]'), delete_project_release_path(@project, @release), :confirm => "#{_('[Delete]')}?",
                                                                                  :method => :post %>
      <%= link_to _('[Add release news]'), new_releases_project_release_path(@project, @release) %>
  </div>
</fieldset>
<fieldset>
  <h1>Files: </h1>
  <% if @release.fileentity.empty? -%>
    <h3>No File in Release</h3>
  <%end%>
  <% @release.fileentity.each_with_index do |f, i|%>
    <div id=<%= "editfiles_view#{i}" %>>
      <table class=FileItem >
        <tr>
          <th> <%=  Fileentity.columns_hash['path'].human_name -%> : </th>
          <td> <%= h(f.path) %> </td>
        </tr>
        <tr>
          <th> <%=  Fileentity.columns_hash['description'].human_name -%> : </th>
          <td> <%= h(f.description) %>  </td>
        </tr>
        <tr>
          <th> <%=  Fileentity.columns_hash['size'].human_name -%> : </th>
          <td> <%= number_to_human_size(f.size) %> </td>
        </tr>
      </table>
        <%= link_to _('[Edit]'), editfile_project_release_url(@project, @release, :editfile_id => f.id, :div_id => "editfiles_view#{i}"), :remote => true %>
        <%= link_to_remote _('[Delete]'), :url => removefile_project_release_path(@project, @release, :removefile_id => f.id) ,
          :confirm => 'Delete?', 
          :update => "uploadfiles_view" %>
  </div>
  <hr>
<%end%>
    </fieldset>
    <fieldset>
      <% form_remote_tag :update => "uploadfiles_view", :url => addfiles_project_release_url(@project, @release) do -%>

          <h2><%=_('Project Upload Repository')%></h2>
          <h3><%=_('Current Dir')%>: <%= @current_dir %> </h3>

          <div id=Uploadfile_selection>
            <%= submit_to_remote 'reload_button', _('Reload'), :url => reload_project_release_url(@project, @release), :update => "uploadfiles_view" %>
            <%=submit_tag _('Add File') %>
            <%= submit_to_remote 'delete_files', _('Delete'), :url => delete_files_project_release_url(@project, @release), :update => "uploadfiles_view" %>

            <% unless @uploadfiles.empty? -%>
              <select name=uploadfiles[] id=release_file_selection multiple size=10>

                <% @uploadfiles.sort.each do |file| -%>
                  <option id=release_file value="<%= h(file) -%>">  
                  <%= h(file) %>
                  </option>

                <% end -%>  

              </select>
            <% else -%>
              <h5><%=  _('File_not_found') %></h5>
            <%end -%>
          </div>
        <% end -%>

        <ol>
          <li>To add files into current release, you must upload them first.</li>
          <li>Choose the upload protocol you prefer.
          <ul>
            <li>Web upload<br/>
            Web protocol for common files, for larger files or unstable connection please select FTP protocol instead.
            <% form_tag ({:project_id => @project.id, :id => @release.id, :action => 'web_upload'}, :multipart => true) do %>
              <% for i in 1..5 %>
                <%= file_field_tag("upload_file_#{i}") %><br/>
              <% end %>
              <%= submit_tag _("Upload") %>
              <%= submit_tag _("Reset"), :type => 'reset' %> 
            <% end %>
            </li>
            <li>FTP(<%= link_to OPENFOUNDRY_FTP_URL+@current_dir, OPENFOUNDRY_FTP_URL+@current_dir, {:target => '_blank'} %>)<br/>
              Please RELOAD after upload to refresh file list. [<%= link_to _("How to Upload?"), webhosting_path %>]
            </li>
          </ul>
          </li>
          <li>ADD FILE from list displayed right above for each successful upload.</li>
        </ol>  

      </fieldset>

    </div>
